.interactions-nav {
    width: 50vw;
    height: 50vw;
    max-width: 800px;
    max-height: 800px;
    margin:0 auto;
    position: relative;
    animation: 5s ease-in-out forwards;
    .hex-wrapper {
        width:100%;
        height: 100%;
        position: absolute;
        z-index:-1;
        svg {
            polygon {
                fill:transparent;
                stroke: DeepSkyBlue;
            }
        }
    }
    .dashed-line {
        stroke-width: 3px;
        stroke:DeepSkyBlue;
        position: absolute;
        position: absolute;
        z-index:-1;
    
    }
    .dashed-line-first {
        top: 40%;
        left: 20%;
        transform: rotate(25deg);
    }
    .dashed-line-second {
        top: 40%;
        right: 20%;
        transform: rotate(-25deg);
    }
    .dashed-line-third {
        top: 80%;
        left: calc(50% - 75px);
        transform: rotate(90deg);
    }
}
